<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1094427575499-q2in3fsvdjmd4q5c16ff9ik6jj4jucoj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD2YHe64QkSoHtBiV6wj1Ks5XuRlfGCyoM</string>
	<key>GCM_SENDER_ID</key>
	<string>1094427575499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arEcommerce</string>
	<key>PROJECT_ID</key>
	<string>arecommerce</string>
	<key>STORAGE_BUCKET</key>
	<string>arecommerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094427575499:ios:8a3394f4441d25bed2c74e</string>
</dict>
</plist>